
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/main.css">
      
      <title>About</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand" href="#">WEB322 - Neron Parmar</span>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/blog"> Blog </a></li>
            <li class="active"><a href="/about"> About </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/post"> Posts </a></li>
            <li><a href="/categories"> Categories </a></li>
            <li><a href="/posts/add">Add Post</a></li>            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2> 
          <p>Hello my name is Neron Parmar. I am from province called Gujarat in India and I am 18 years old. I have done my secondary and higher secondary education in my country India from Gujarat. I had passed my Secondary School in the year 2019 with 77% and following to it I had done my Higher Secondary School in year 2021 with the result of 76.60%.
           Currently I am an International Student in Ontario, Canada. I am studying in the college named Seneca College in third semester. My program name is Computer Programming of credentials of diploma (2 years). My hobbies are to play guitar, sing songs, travel or explore when i am in mood as i am too much moody person, i also read some books as well as watch movies in liesure time.
           My goal is to become software Engineer in a company. My language skills in the computer is C language, C++ language, JavaScript, HTML, CSS and SQL. I work with full enthusiasm and dedicatedly in all the tasks alloted to me. Basically, I am guy with full of dreams to persue and with lots of wishes to get all of those fulfilled.
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Live life at best, take stress less. Stay excited, Stay Hungry.</p>
        </aside>
      </div>
    </div>

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>