<h2>Add Category</h2>
<form action="/categories/add" method="post">
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" class="form-control" id="category" name="category" autofocus required>
  </div><hr />
  <button type="submit" class="btn btn-primary">Add Category</button>
</form>
</html>